@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Rubik:wght@500;700&display=swap');
    $back-color:#FFFFFF;
    $first-color:#1C3554;
    $box-back:#000000;
:root{
--back-color:#FFFFFF;
--first-color:#1C3554;
--box-back:#000000;
}
.dark-theme{
--back-color:#000;
--first-color:#FFFFFF;
--box-back:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family:'Montserrat' 'Rubik';
    background: var(--back-color);
    
    .container{
        max-width: 100%;    
        padding: 0;
        background: var(--back-color);
        .backtop{
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 999;
            position: fixed;
            right: 2%;
            top: 90%;
        }
        .header{
            width: 100%;
            height: 44rem;
            background: #CCCCCC;

            #nav{
                background: #CCCCCC;
                .navbar{
                    .acc{
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                        p{
                            width: 4.8rem;
                            height: 4.8rem;
                            background: #AAAAAA;
                            border-radius: 50%;
                        }
                        h6{
                            font-family: 'Montserrat SemiBold';
                            font-size: 14px;
                            line-height: 24px;
                            color: #FFFFFF;
                            margin-left: .8rem;
                        }
                    }
                }
            }
        }
        .acc-user{
            width: 100%;
            height: 15rem;
            margin-top: 4.8rem;
            .acc-item{
                width: 120rem;
                height: 100%;
                text-align: left;
                margin: 0 auto;
                display: flex;  
                p{
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    background: #CCCCCC;
                }
                span{
                    margin-left: 2.4rem;
                    h3{
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 48px;
                        text-transform: capitalize;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                        color: var(--first-color);
                        margin-top: 2rem;
                    }
                    h6{
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-transform: capitalize;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                        color: #808080;
                        margin-top: .8rem;
                    }
                }
            }
        }
        #coursee{
            width: 100%;
            margin-top: 6.4rem;
            .coursee-item{
                width: 120rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                
                h2{
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 48px;
                    color: #808080;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        color: var(--first-color);
                        font-weight: 500;
                        border-bottom: 5px solid #F72585;
                    }
                }
            }
        }

    }
}