@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Rubik:wght@500;700&display=swap");
:root {
  --back-color:#FFFFFF;
  --first-color:#1C3554;
  --box-back:#000000;
  --p-color:#808080;
}

.dark-theme {
  --back-color:#000;
  --first-color:#FFFFFF;
  --box-back:#FFFFFF;
  --p-color:#FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container .course-header {
  text-align: left;
  width: 100%;
  height: 95rem;
  padding-top: 12rem;
}
.container .course-header .course-item {
  width: 120rem;
  margin: 0 auto;
  height: 100%;
}
.container .course-header .course-item span {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: left;
}
.container .course-header .course-item span img {
  margin-bottom: 1rem;
}
.container .course-header .course-item span p {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: var(--p-color);
  transition: all 0.2s;
}
.container .course-header .course-item span p:hover {
  color: #1C3554;
}
.container .course-header .course-item h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  margin-top: 2.4rem;
  color: var(--first-color);
}
.container .course-header .course-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-right: 40%;
  color: var(--p-color);
}
.container .course-header .course-item h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  margin-top: 5.6rem;
}
.container .topic {
  height: 106rem;
  width: 100%;
  margin-top: 16rem;
}
.container .topic .topic-box {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
.container .topic .topic-box .topic-top {
  display: flex;
  justify-content: space-between;
}
.container .topic .topic-box .topic-top h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
.container .topic .topic-box .topic-top a button {
  width: 28rem;
  height: 6rem;
  background: #F72585;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.container .topic .topic-box .topic-top a button:hover {
  background: white;
  border: 1px solid black;
  color: black;
}
.container .develop {
  width: 100%;
  height: 200rem;
  margin-top: 15rem;
}
.container .develop .develop-item {
  margin: 0 auto;
  width: 120rem;
  height: 100%;
}
.container .develop .develop-item .top-develop {
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
}
.container .develop .develop-item .top-develop h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
.container .develop .develop-item .top-develop a button {
  width: 15rem;
  height: 6.4rem;
  background: #FFF5F9;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #F72585;
}
.container .develop .develop-item .top-develop a .course-btn {
  border-radius: 8px;
  background: #F72585;
  width: 22.4rem;
  height: 6.4rem;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 4rem;
  transition: all 0.3s;
}
.container .develop .develop-item .top-develop a .course-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
.container .develop .develop-item .item-boxes {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
}
.container .develop .develop-item .item-boxes .sidebar {
  width: 25%;
  height: 155rem;
  text-align: left;
  padding-right: 3.6rem;
  border-right: 1px solid #CCCCCC;
}
.container .develop .develop-item .item-boxes .sidebar .check span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .develop .develop-item .item-boxes .sidebar .check span h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
.container .develop .develop-item .item-boxes .sidebar .check .line {
  text-align: center;
  border: 1px solid #CCCCCC;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container .develop .develop-item .item-boxes .sidebar .check form label span {
  display: flex;
  align-items: center;
}
.container .develop .develop-item .item-boxes .sidebar .check form label span h5 {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  line-height: 24px;
  color: var(--first-color);
  margin-top: 1rem;
  margin-left: 0.8rem;
}
.container .develop .develop-item .item-boxes .sidebar .check form label span p {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  line-height: 24px;
  color: var(--p-color);
  margin-top: 1.5rem;
  margin-left: 0.8rem;
}
.container .develop .develop-item .item-boxes .trending-course {
  width: 120rem;
  height: 90rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.container .develop .develop-item .item-boxes .trending-course .row {
  margin: 0;
  display: flex;
  gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.container .develop .develop-item .item-boxes .trending-course .row .col {
  border-radius: 8px;
  width: 28rem;
  height: 43rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
  transition: all 0.3s;
}
.container .develop .develop-item .item-boxes .trending-course .row .col:hover {
  box-shadow: 10px 10px 30px #808080;
}
.container .develop .develop-item .item-boxes .trending-course .row .col .img-place {
  background: #CCCCCC;
  border-radius: 4px;
  height: 20rem;
  width: 25rem;
  position: relative;
}
.container .develop .develop-item .item-boxes .trending-course .row .col .img-place button {
  width: 12rem;
  height: 3.2rem;
  background: #4586D6;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: -1.5rem;
  right: 25%;
}
.container .develop .develop-item .item-boxes .trending-course .row .col h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
  margin-top: 3rem;
}
.container .develop .develop-item .item-boxes .trending-course .row .col p {
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  line-height: 24px;
  color: #F72585;
  text-align: left;
  font-weight: 500;
  margin-top: 0.8rem;
}
.container .develop .develop-item .item-boxes .trending-course .row .col span {
  display: flex;
  height: 2.4rem;
  align-items: center;
}
.container .develop .develop-item .item-boxes .trending-course .row .col span p {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
}
.container .develop .develop-item .item-boxes .trending-course .row .col div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.container .develop .develop-item .item-boxes .trending-course .row .col div p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #CCCCCC;
}
.container .develop .develop-item .item-boxes .trending-course .row .col div h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--first-color);
  margin-left: 0.8rem;
}
.container .develop .develop-item .item-boxes .trending-course .course-page {
  width: 100%;
  margin-top: 4rem;
}
.container .develop .develop-item .item-boxes .trending-course .course-page .page-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container .develop .develop-item .item-boxes .trending-course .course-page .page-items p {
  width: 3.2rem;
  height: 3.2rem;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: var(--p-color);
  transition: all 0.3s;
}
.container .develop .develop-item .item-boxes .trending-course .course-page .page-items p:hover {
  background: #F72585;
  border-radius: 4px;
  color: white;
}
.container .develop .develop-item .item-boxes .trending-course .course-page .page-items img {
  margin-bottom: 1rem;
}
.container .develop .develop-item .item-boxes .btn {
  text-align: center;
  margin-top: 5.6rem;
}
.container .develop .develop-item .item-boxes .btn a button {
  background: #F72585;
  border-radius: 8px;
  width: 288px;
  height: 60px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.container .develop .develop-item .item-boxes .btn a button:hover {
  background: white;
  border: 1px solid black;
  color: #F72585;
}/*# sourceMappingURL=course.css.map */