@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Rubik:wght@500;700&display=swap");
:root {
  --back-color:#FFFFFF;
  --first-color:#1C3554;
  --box-back:#000000;
}

.dark-theme {
  --back-color:#000;
  --first-color:#FFFFFF;
  --box-back:#FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat" "Rubik";
  background: var(--back-color);
}
body .container {
  max-width: 100%;
  padding: 0;
  background: var(--back-color);
}
body .container #nav {
  width: 100%;
  height: 12rem;
  background: #FFFFFF;
  position: fixed;
  z-index: 1;
}
body .container #nav .navbar-shrink {
  padding: 30px 0;
}
body .container #nav .navbar {
  width: 110rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container #nav .navbar div {
  display: flex;
}
body .container #nav .navbar div a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #1C3554;
}
body .container #nav .navbar a .login-btn {
  width: 10rem;
  height: 4.8rem;
  border-radius: 8px;
  border: none;
  background: #F72585;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: white;
  transition: all 0.3s;
}
body .container #nav .navbar a .login-btn:hover {
  background: #fff;
  color: #1C3554;
  border: 1px solid #1C3554;
}
body .container #nav .navbar a .Signup-btn {
  width: 11rem;
  height: 4.8rem;
  background: #F72585;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.3s;
}
body .container #nav .navbar a .Signup-btn:hover {
  border: 1px solid #1C3554;
  background: #fff;
  color: black;
}
body .container #nav .navbar .nav-p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #1C3554;
  margin-top: 0.5rem;
}
body .container #nav .navbar span input {
  height: 4.8rem;
  width: 25rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  padding-left: 1.6rem;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
body .container #nav .navbar span img {
  cursor: pointer;
}
body .container header {
  width: 100%;
  height: 87rem;
  padding-top: 12rem;
}
body .container header .header-item {
  width: 120rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  background: #021934;
  border-radius: 8px;
  overflow: hidden;
}
body .container header .header-item .header-left {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-left: 6.4rem;
}
body .container header .header-item .header-left h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: #FFFFFF;
}
body .container header .header-item .header-left p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 2.4rem;
}
body .container header .header-item .header-left div {
  width: 50rem;
  height: 8rem;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  margin-top: 6.6rem;
}
body .container header .header-item .header-left div input {
  width: 30rem;
  height: 8rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #808080;
  border: none;
  margin-left: 1.8rem;
}
body .container header .header-item .header-left div a button {
  width: 12.1rem;
  height: 5.6rem;
  background: #F72585;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.3s;
  margin-left: 1rem;
}
body .container header .header-item .header-left div a button:hover {
  border: 1px solid #1C3554;
  background: #fff;
  color: black;
}
body .container header .header-item .header-left span {
  display: flex;
  margin-top: 5.6rem;
}
body .container header .header-item .header-left span span {
  display: flex;
  height: 2.8rem;
  align-items: center;
  margin-right: 2rem;
}
body .container header .header-item .header-left span span a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-left: 1rem;
}
body .container header .header-item .header-right {
  width: 50%;
  height: 100%;
  padding-top: 3rem;
  padding-left: 5rem;
}
body .container header .header-item .header-right .header-right_box {
  height: 70rem;
  width: 50rem;
  background: #E6E6E6;
  border-radius: 8px;
  position: relative;
}
body .container header .header-item .header-right .header-right_box .img-1 {
  position: absolute;
  left: 7rem;
  top: 4.7rem;
}
body .container header .header-item .header-right .header-right_box .img-2 {
  position: absolute;
  right: 0;
  top: 30rem;
}
body .container header .header-item .header-right .header-right_box .img-3 {
  position: absolute;
  left: 0;
  top: 41rem;
}
body .container header .header-item .header-right .header-right_box div {
  width: 18rem;
  height: 11.7rem;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  right: 3rem;
  bottom: 4rem;
  text-align: center;
}
body .container header .header-item .header-right .header-right_box div h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1C3554;
  margin-top: 1.6rem;
}
body .container header .header-item .header-right .header-right_box div p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1C3554;
}
body .container header .header-item .header-right .header-right_box div .star {
  display: flex;
  gap: 0.5rem;
  margin-left: 12%;
}
body .container .trending {
  width: 100%;
  height: 120rem;
  margin-top: 8rem;
}
body .container .trending .trending-items {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
body .container .trending .trending-items h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
body .container .trending .trending-items .trending-menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 6.4rem;
  align-items: center;
}
body .container .trending .trending-items .trending-menu a {
  font-family: "Montserrat SemiBold";
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #AAAAAA;
  padding: 2rem 4rem;
  transition: all 0.3s;
}
body .container .trending .trending-items .trending-menu a:hover {
  background: #F72585;
  border-radius: 8px;
  color: white;
}
body .container .trending .trending-items .trending-course {
  width: 120rem;
  height: 90rem;
  margin: 0 auto;
  margin-top: 3rem;
}
body .container .trending .trending-items .trending-course .row {
  margin: 0;
  display: flex;
  gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
body .container .trending .trending-items .trending-course .row .col {
  border-radius: 8px;
  width: 28rem;
  height: 43rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
  transition: all 0.3s;
}
body .container .trending .trending-items .trending-course .row .col:hover {
  box-shadow: 10px 10px 30px #808080;
}
body .container .trending .trending-items .trending-course .row .col .img-place {
  background: #CCCCCC;
  border-radius: 4px;
  height: 20rem;
  width: 25rem;
  position: relative;
}
body .container .trending .trending-items .trending-course .row .col .img-place button {
  width: 12rem;
  height: 3.2rem;
  background: #4586D6;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: -1.5rem;
  right: 25%;
}
body .container .trending .trending-items .trending-course .row .col h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
  margin-top: 3rem;
}
body .container .trending .trending-items .trending-course .row .col p {
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  line-height: 24px;
  color: #F72585;
  text-align: left;
  font-weight: 500;
  margin-top: 0.8rem;
}
body .container .trending .trending-items .trending-course .row .col span {
  display: flex;
  height: 2.4rem;
  align-items: center;
}
body .container .trending .trending-items .trending-course .row .col span p {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
}
body .container .trending .trending-items .trending-course .row .col div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
body .container .trending .trending-items .trending-course .row .col div p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #CCCCCC;
}
body .container .trending .trending-items .trending-course .row .col div h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--first-color);
  margin-left: 0.8rem;
}
body .container .trending .trending-items .btn {
  text-align: center;
  margin-top: 5.6rem;
}
body .container .trending .trending-items .btn a button {
  background: #F72585;
  border-radius: 8px;
  width: 288px;
  height: 60px;
  border: none;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
body .container .trending .trending-items .btn a button:hover {
  background: white;
  border: 1px solid black;
  color: #F72585;
}
body .container #top-category {
  width: 100%;
  height: 84rem;
  margin-top: 15rem;
}
body .container #top-category .category-items {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
body .container #top-category .category-items h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
}
body .container #top-category .category-items .category-boxes {
  width: 100%;
  margin-top: 5.6rem;
}
body .container #top-category .category-items .category-boxes .row {
  display: flex;
  gap: 1.6rem;
  margin: 0;
  margin-bottom: 2rem;
}
body .container #top-category .category-items .category-boxes .row .col {
  margin: 0;
  border: 1px solid black;
  height: 35rem;
  background: var(--box-back);
  opacity: 0.5;
  border-radius: 8px;
  transition: all 0.3s;
}
body .container #top-category .category-items .category-boxes .row .col:hover {
  box-shadow: 10px 10px 30px #808080;
}
body .container #top-category .category-items .category-boxes .row .col p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--back-color);
  margin-top: 27.8rem;
}
body .container .country {
  width: 100%;
  height: 25rem;
  margin-top: 16rem;
}
body .container .country .country-box {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
body .container .country .country-box .row {
  gap: 2rem;
}
body .container .country .country-box .row .col {
  height: 100%;
  padding-top: 4rem;
}
body .container .country .country-box .row .col h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  margin-top: 2rem;
}
body .container .country .country-box .row .col p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
body .container #become {
  width: 100%;
  height: 66rem;
  margin-top: 15rem;
}
body .container #become .become-items {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
body .container #become .become-items .become-left {
  width: 50%;
  background: #CCCCCC;
  border-radius: 8px;
  height: 100%;
}
body .container #become .become-items .become-right {
  width: 50%;
  height: 100%;
  padding-left: 5.6rem;
  text-align: left;
}
body .container #become .become-items .become-right h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
  margin-top: 10rem;
}
body .container #become .become-items .become-right p {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--box-back);
  margin-top: 3.2rem;
}
body .container #become .become-items .become-right a button {
  margin-top: 4rem;
  border: none;
  background: #F72585;
  width: 20rem;
  height: 6.4rem;
  border-radius: 8px;
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.3s;
}
body .container #become .become-items .become-right a button:hover {
  border: 1px solid black;
  color: black;
  background: white;
}
body .container .testimonials {
  width: 100%;
  height: 50.5rem;
  margin-top: 15rem;
}
body .container .testimonials .testimonials-item {
  width: 120rem;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
body .container .testimonials .testimonials-item .testimonials-left {
  position: relative;
  padding-top: 6.4rem;
  width: 40%;
  height: 100%;
}
body .container .testimonials .testimonials-item .testimonials-left .arrow {
  position: absolute;
  left: 0;
  top: 50%;
}
body .container .testimonials .testimonials-item .testimonials-left .img-plan {
  height: 37.7rem;
  width: 30rem;
  background: #CCCCCC;
  margin-left: 8rem;
  position: relative;
  overflow: hidden;
}
body .container .testimonials .testimonials-item .testimonials-left .img-plan img {
  position: absolute;
  left: -10%;
  bottom: -10%;
}
body .container .testimonials .testimonials-item .testimonials-right {
  width: 60%;
  height: 100%;
  text-align: left;
  padding-top: 12rem;
  padding-right: 5rem;
  position: relative;
}
body .container .testimonials .testimonials-item .testimonials-right h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: var(--first-color);
}
body .container .testimonials .testimonials-item .testimonials-right h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--first-color);
  margin-top: 3.2rem;
}
body .container .testimonials .testimonials-item .testimonials-right p {
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-top: 1rem;
}
body .container .testimonials .testimonials-item .testimonials-right img {
  position: absolute;
  right: 0;
  top: 50%;
}
body .container .company {
  width: 100%;
  height: 36rem;
  margin-top: 15rem;
}
body .container .company .company-item {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
body .container .company .company-item h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
}
body .container .company .company-item .company-box {
  margin-top: 5.6rem;
  height: 10.5rem;
  width: 100%;
  align-items: center;
}
body .container .company .company-item .company-box .row {
  height: 10.5rem;
}
body .container .company .company-item .company-box .row .col {
  height: 100%;
  padding-top: 3rem;
}
body .container .company .company-item .company-box .box-2 {
  height: 10.5rem;
  width: 100%;
  display: flex;
}
body .container .company .company-item .company-box .box-2 .left {
  width: 50%;
  height: 100%;
  text-align: right;
  padding-top: 4rem;
  padding-right: 5%;
}
body .container .company .company-item .company-box .box-2 .right {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-top: 3rem;
  padding-left: 5%;
}
body .container .blog {
  width: 100%;
  height: 64rem;
  margin-top: 15rem;
}
body .container .blog .blog-item {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
}
body .container .blog .blog-item h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
  margin-bottom: 5.6rem;
}
body .container .blog .blog-item .row {
  margin: 0;
  height: 52rem;
  display: flex;
  gap: 5rem;
}
body .container .blog .blog-item .row .col {
  border-radius: 8px;
  width: 35rem;
  height: 52rem;
  padding: 1.6rem;
  transition: all 0.4s;
}
body .container .blog .blog-item .row .col:hover {
  box-shadow: 10px 10px 30px #808080;
}
body .container .blog .blog-item .row .col .image-place {
  width: 33.4rem;
  height: 24rem;
  background: #CCCCCC;
  border-radius: 8px;
}
body .container .blog .blog-item .row .col span {
  display: flex;
  margin-top: 1.6rem;
}
body .container .blog .blog-item .row .col span p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--box-back);
  margin-right: 0.8rem;
}
body .container .blog .blog-item .row .col h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--first-color);
  text-align: left;
  margin-top: 1rem;
}
body .container .blog .blog-item .row .col p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--box-back);
  text-align: left;
  margin-top: 1rem;
}
body .container .blog .blog-item .row .col h6 {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  color: #F72585;
  text-align: left;
  margin-top: 2.4rem;
  cursor: pointer;
}
body .container footer {
  width: 100%;
  height: 43.5rem;
  margin-top: 15rem;
  margin-bottom: 4rem;
}
body .container footer .footer-item {
  width: 120rem;
  height: 100%;
  margin: 0 auto;
  background: #021934;
  border-radius: 8px;
  display: flex;
}
body .container footer .footer-item .footer_left {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-top: 8rem;
  padding-left: 6.8rem;
}
body .container footer .footer-item .footer_left p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 3.5rem;
  margin-bottom: 14rem;
}
body .container footer .footer-item .footer_left span a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 4rem;
}
body .container footer .footer-item .footer_right {
  width: 50%;
  height: 100%;
  padding-top: 8rem;
  padding-right: 6.8rem;
  padding-left: 4rem;
}
body .container footer .footer-item .footer_right .links {
  display: flex;
  justify-content: space-between;
}
body .container footer .footer-item .footer_right ul li {
  text-align: left;
}
body .container footer .footer-item .footer_right ul li p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-bottom: 2.4rem;
}
body .container footer .footer-item .footer_right ul li a {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
body .container footer .footer-item .footer_right h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-left: 14rem;
  margin-top: 10rem;
}/*# sourceMappingURL=style.css.map */